version: '3'

volumes:
  certs-roach-0:
  certs-roach-1:
  certs-roach-2:
  keytab:
  certs-client:

services:

  roach-cert:
    container_name: roach-cert
    hostname: roach-cert
    build: roach-cert
    volumes:
      - certs-roach-0:/certs/roach-0
      - certs-roach-1:/certs/roach-1
      - certs-roach-2:/certs/roach-2
      - certs-client:/certs/client

  kdc:
    container_name: kdc
    hostname: kdc
    build: ./kdc
    volumes:
      - ./kdc/start.sh:/start.sh
      - keytab:/keytab
    depends_on:
      - roach-cert
    networks:
      roachnet:
        ipv4_address: 172.28.1.3

  roach-0:
    container_name: roach-0
    hostname: roach-0
    image: cockroachdb/cockroach:v20.1.4
    depends_on:
      - kdc
      - roach-cert
    command: start --logtostderr=WARNING --log-file-verbosity=WARNING --certs-dir=/certs --listen-addr=roach-0:26257 --advertise-addr=roach-0:26257 --max-sql-memory=.25 --cache=.25
    environment:
      - KRB5_KTNAME=/keytab/crdb.keytab
    volumes:
      - certs-roach-0:/certs
      - keytab:/keytab
    networks:
      roachnet:
        ipv4_address: 172.28.1.4

  roach-1:
    container_name: roach-1
    hostname: roach-1
    image: cockroachdb/cockroach:v20.1.4
    depends_on:
      - kdc
      - roach-cert
      - roach-0
    command: start --logtostderr=WARNING --log-file-verbosity=WARNING --certs-dir=/certs --join=roach-0 --listen-addr=roach-1:26257 --advertise-addr=roach-1:26257 --max-sql-memory=.25 --cache=.25
    environment:
      - KRB5_KTNAME=/keytab/crdb.keytab
    volumes:
      - certs-roach-1:/certs
      - keytab:/keytab
    networks:
      roachnet:
        ipv4_address: 172.28.1.5

  roach-2:
    container_name: roach-2
    hostname: roach-2
    image: cockroachdb/cockroach:v20.1.4
    depends_on:
      - kdc
      - roach-cert
      - roach-0
    command: start --logtostderr=WARNING --log-file-verbosity=WARNING --certs-dir=/certs --join=roach-0 --listen-addr=roach-2:26257 --advertise-addr=roach-2:26257 --max-sql-memory=.25 --cache=.25
    environment:
      - KRB5_KTNAME=/keytab/crdb.keytab
    volumes:
      - certs-roach-2:/certs
      - keytab:/keytab
    networks:
      roachnet:
        ipv4_address: 172.28.1.6

  lb:
    container_name: lb
    hostname: lb
    build: haproxy
    ports:
      - "26257:26257"
      - "8080:8080"
      - "8081:8081"
    depends_on:
      - roach-0
      - roach-1
      - roach-2
    networks:
      roachnet:
        ipv4_address: 172.28.1.7

  web:
    container_name: web
    hostname: web
    build: sqlalchemy/.
    extra_hosts:
      - "lb:172.28.1.7"
    depends_on:
      - roach-cert
      - lb
      - kdc
      - roach-0
      - roach-1
      - roach-2
    command: python sqlalchemy-basic-sample.py
    volumes:
      - .:/code
      - ./kdc/krb5.conf:/etc/krb5.conf
      - certs-client:/certs
      - ./sqlalchemy/start.sh:/start.sh
      - keytab:/keytab
    ports:
      - "8000:8000"
    networks:
      roachnet:
        ipv4_address: 172.28.1.8

networks:
  roachnet:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
