version: '3.8'

services:

  roach-0:
    container_name: roach-0
    hostname: roach-0
    image: cockroachdb/cockroach:v20.2.7
    command: start --logtostderr=WARNING --log-file-verbosity=WARNING --insecure --join=roach-0,roach-1,roach-2 --listen-addr=roach-0:26257 --advertise-addr=roach-0:26257 --max-sql-memory=.25 --cache=.25
    
  roach-1:
    container_name: roach-1
    hostname: roach-1
    image: cockroachdb/cockroach:v20.2.7
    command: start --logtostderr=WARNING --log-file-verbosity=WARNING --insecure --join=roach-0,roach-1,roach-2 --listen-addr=roach-1:26257 --advertise-addr=roach-1:26257 --max-sql-memory=.25 --cache=.25
    
  roach-2:
    container_name: roach-2
    hostname: roach-2
    image: cockroachdb/cockroach:v20.2.7
    command: start --logtostderr=WARNING --log-file-verbosity=WARNING --insecure --join=roach-0,roach-1,roach-2 --listen-addr=roach-2:26257 --advertise-addr=roach-2:26257 --max-sql-memory=.25 --cache=.25
    
  lb:
    container_name: lb
    hostname: lb
    build: haproxy
    ports:
      - "26257:26257"
      - "8080:8080"
      - "8081:8081"
    depends_on:
      - roach-0
      - roach-1
      - roach-2

  pgbouncer:
    container_name: pgbouncer
    hostname: pgbouncer
    image: pgbouncer/pgbouncer:1.15.0
    command: tail -f /dev/null
    ports:
      - "27000:27000"
    volumes:
      - ${PWD}/pgbouncer/userlist.txt:/etc/pgbouncer/userlist.txt
    env_file:
      - pgbouncer/cockroachdb.env
    depends_on:
      - lb
    restart: always

  client:
    container_name: client
    image: cockroachdb/cockroach:v20.2.7
    entrypoint: ["/usr/bin/tail", "-f", "/dev/null"]
    hostname: client
    depends_on:
      - lb
      - pgbouncer