version: '3.9'

volumes:
  certs-roach-0:
  certs-roach-1:
  certs-roach-2:
  keytab:
  certs-client:
  certs-lb:

services:

  roach-cert:
    container_name: roach-cert
    hostname: roach-cert
    build: roach-cert
    volumes:
      - certs-roach-0:/certs/roach-0
      - certs-roach-1:/certs/roach-1
      - certs-roach-2:/certs/roach-2
      - certs-client:/certs/client
      - certs-lb:/certs/lb

  kdc:
    container_name: kdc
    hostname: kdc
    build: ./kdc
    volumes:
      - ./kdc/start.sh:/start.sh
      - keytab:/keytab
    depends_on:
      - roach-cert
    ports:
      - "88:88"
    networks:
      roachnet:
        ipv4_address: 172.28.0.2

  roach-0:
    container_name: roach-0
    hostname: roach-0
    image: cockroachdb/cockroach:latest-v21.2
    depends_on:
      - kdc
      - roach-cert
    command: start --logtostderr=WARNING --log-file-verbosity=WARNING --certs-dir=/certs --join=roach-0,roach-1,roach-2 --listen-addr=roach-0:26257 --advertise-addr=roach-0:26257 --max-sql-memory=.25 --cache=.25
    environment:
      - KRB5_KTNAME=/keytab/crdb.keytab
    volumes:
      - certs-roach-0:/certs
      - keytab:/keytab
    networks:
      roachnet:
        ipv4_address: 172.28.0.3

  roach-1:
    container_name: roach-1
    hostname: roach-1
    image: cockroachdb/cockroach:latest-v21.2
    depends_on:
      - kdc
      - roach-cert
      - roach-0
    command: start --logtostderr=WARNING --log-file-verbosity=WARNING --certs-dir=/certs --join=roach-0,roach-1,roach-2 --listen-addr=roach-1:26257 --advertise-addr=roach-1:26257 --max-sql-memory=.25 --cache=.25
    environment:
      - KRB5_KTNAME=/keytab/crdb.keytab
    volumes:
      - certs-roach-1:/certs
      - keytab:/keytab
    networks:
      roachnet:
        ipv4_address: 172.28.0.4

  roach-2:
    container_name: roach-2
    hostname: roach-2
    image: cockroachdb/cockroach:latest-v21.2
    depends_on:
      - kdc
      - roach-cert
      - roach-0
    command: start --logtostderr=WARNING --log-file-verbosity=WARNING --certs-dir=/certs --join=roach-0,roach-1,roach-2 --listen-addr=roach-2:26257 --advertise-addr=roach-2:26257 --max-sql-memory=.25 --cache=.25
    environment:
      - KRB5_KTNAME=/keytab/crdb.keytab
    volumes:
      - certs-roach-2:/certs
      - keytab:/keytab
    networks:
      roachnet:
        ipv4_address: 172.28.0.5

  lb:
    container_name: lb
    hostname: lb.local
    build: haproxy
    ports:
      - "26257:26257"
      - "8080:8080"
      - "8081:8081"
    depends_on:
      - roach-cert
      - roach-0
      - roach-1
      - roach-2
    networks:
      roachnet:
        ipv4_address: 172.28.0.6

  client:
    container_name: client
    hostname: client
    build: ./client
    extra_hosts:
      - "lb.local:172.28.0.6"
    depends_on:
      - lb
      - roach-cert
      - kdc
    volumes:
      - ./kdc/krb5.conf:/etc/krb5.conf
      - ./client/start.sh:/start.sh
      - certs-client:/certs
      - certs-lb:/lb/certs
      - keytab:/keytab
    networks:
      roachnet:
        ipv4_address: 172.28.0.7

networks:
  roachnet:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
