<% for post in @shark.posts  %>
    <ul>

        <% if post.body.blank? %>
            <div></div>
            <% else %>
                <li class="post">
                    <%= post.body %>
                    <%= button_tag "Remove Post", data: { controller: "posts", action: "posts#remove" } %>
                    <%= button_tag "Upvote Post", data: { controller: "posts", action: "posts#upvote" } %>
                </li>
                <% end %>
    </ul>

<% end %>
