psycopg2==2.8.*
#psycopg2-binary==2.8.*

# Django 2.2 LTS release
#Django==2.2.*
#django-cockroachdb==2.2.*

# Django 3.0
#Django==3.0.*
#django-cockroachdb==3.0.*

# Django 3.1
Django>=3.1.*
django-cockroachdb>=3.1.*
