# Super Linter
name: Super Linter

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Super-Linter
    - uses: github/super-linter@v3.3.2 # using docker image above yields much faster execution than building from scratch
